{% extends 'base.html' %}
    {% block title %} ERROR {% endblock %}
    {% block content %}
<header class="header-2 cs">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro-text">
          <h1 class="wow fadeInUp">404 Error! Page Not Found. </h1>
          <p>The page you are loking for is no longer exist. Please return back and try something different.</p>
          <a class="btn btn-lg btn-green" href="index.html">Return Back</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!--================================================
                **** JS Files ****
==================================================-->
{% endblock %}
