{% extends 'base.html' %}
    {% block title %} About Us {% endblock %}
    {% block content %}
<header class="header-inner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro-text">
          <h1 class="wow fadeInUp">About us</h1>
          <h6>Home / About us</h6>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="about-cont">
          <h3>Lorem Ipsum is simply dummy text of the printing</h3>
          <p>Our Professional Services is based upon more than 20 years of experience in providing clients with management consulting and Services. We offer the expertise found in the world's premier management consulting organizations and </p>
		  <p>designed to resolve your business challenges.The ability to generate client confidence over many years comes from a proven track record of dealing with complex client issues and getting results.</p>
          <p>Our Professional Services is based upon more than 20 years of experience in providing clients with management consulting and Services. We offer the expertise found in the world's premier management consulting organizations and </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-rightbar">
          <h4>Feel Free To Contact</h4>
          <h6><i class="icofont icofont-send-mail"></i> Info@digishop.com</h6>
          <h6><i class="icofont icofont-phone"></i> +1 9874038275</h6>
          <p>It is a long established fact that a reader will be by the readable content of a page when looking at its</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-cation">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
      	<h2>Lorem Ipsum is simply dummy text of the printing.</h2>
      </div>
      <div class="col-md-3">
      <div class="alignright"><a class="btn btn-lg btn-white wow tada" href="#">View Details <i class="icofont icofont-long-arrow-right"></i></a></div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="about-cont">
        	<h4 class="wow fadeInUp">Enabling Organizations to innovate and Transform their Business</h4>
        </div>
      </div>
      <div class="col-md-8">
        <div class="about-cont">
        	<p>Our Professional Services is based upon more than 20 years of experience in providing 
clients with management consulting and Services. We offer the expertise found in the 
world's premier management consulting organizations and </p>

<p>designed to resolve your business challenges.The ability to generate client confidence 
over many years comes from a proven track record of dealing with complex client 
issues and getting results.
            </p>
        </div>
      </div>
    </div>
  </div>
</section>        
{% endblock %}
