{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %} Blog Details {% endblock %}
    {% block content %}
<header class="header-inner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro-text">
          <h1 class="wow fadeInUp">Blog Details</h1>
          <h6>Home / Blog Details</h6>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <div class="blog-details-cont"> <img src="{% static 'images/blog-1.jpeg' %}" class="img-fluid" alt="">
              <h4><a href="#" class="wow fadeInUp">Lorem Ipsum has been the industry's standard </a></h4>
              <div class="item-info"> <span class="author vcard"> <i class="icofont icofont-user-male"></i> <a href="#">Jonathan</a> </span> <span class="posted-on"> <i class="icofont icofont-calendar"></i> August 25, 2016 </span> <span class="count-comment"> <i class="icofont icofont-speech-comments"></i> 0 </span> </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <hr/>
              <div class="row">
                <div class="col-md-4">
                  <div class="blog-details-bottom alignleft"><a href="#" class="read-more"><i class="icofont icofont-arrow-left" aria-hidden="true"></i> &nbsp; Previous post</a></div>
                </div>
                <div class="col-md-4">
                  <div class="blog-details-bottom aligncenter">
                    <ul>
                      <li><a href="#"><i class="icofont icofont-social-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="icofont icofont-social-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="icofont icofont-social-linkedin" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="icofont icofont-social-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="blog-details-bottom alignright"><a href="#" class="read-more">Previous post &nbsp; <i class="icofont icofont-arrow-right" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="comment-form wow fadeInUp">
              <h4>Add your comments</h4>
              <form method="post" action="contact.php" class="form-1" name="contactform" id="contactform">
                <div class="row">
                  <div class="col-lg-12"> <i class="icofont icofont-user-male"></i>
                    <input name="name" type="text" id="name" class="input-style" placeholder="Name">
                  </div>
                  <div class="col-lg-12"> <i class="icofont icofont-email"></i>
                    <input name="email" type="text" id="email" class="input-style" placeholder="Email">
                  </div>
                  <div class="col-lg-12"> <i class="icofont icofont-pencil-alt-2"></i>
                    <textarea name="comments" id="comments" class="input-style" placeholder="Message"></textarea>
                  </div>
                  <div class="col-lg-12">
                    <input type="submit" class="btn btn-md btn-pink wow tada" id="submit" value="Submit">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sidebar-item">
          <h4>Recent Posts</h4>
          <form action="#" method="post">
            <input type="text" class="search" placeholder="Search">
          </form>
        </div>
        <div class="sidebar-item">
          <h4>Recent Posts</h4>
          <ul>
            <li><a href="#">Lorem Ipsum is simply</a></li>
            <li><a href="#">Ipsum is simply dummy</a></li>
            <li><a href="#">Simply dummy text of the</a></li>
            <li><a href="#">Dummy text of the printing</a></li>
            <li><a href="#">Printing and typesetting</a></li>
            <li><a href="#">Lorem Ipsum is simply</a></li>
          </ul>
        </div>
        <div class="sidebar-item">
          <h4>Categories</h4>
          <ul>
            <li><a href="#">HTML</a></li>
            <li><a href="#">WordPress</a></li>
            <li><a href="#">Themeforest</a></li>
            <li><a href="#">Creative Market</a></li>
            <li><a href="#">Codeigniter</a></li>
            <li><a href="#">PHP</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}