{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %} Blog List {% endblock %}
    {% block content %}
<header class="header-inner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro-text">
          <h1 class="wow fadeInUp">Blog List</h1>
          <h6>Home / Blog List</h6>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <div class="recentpost-cont wow fadeIn">
              <h4><a href="#">What is Lorem Ipsum?</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the typesetting industry ...</p>
              <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="recentpost-cont wow fadeIn">
              <h4><a href="#">Why do we use it?</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the typesetting industry ...</p>
              <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="recentpost-cont wow fadeIn">
              <h4><a href="#">Where does it come from?</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the typesetting industry ...</p>
              <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="recentpost-cont wow fadeIn">
              <h4><a href="#">Where can I get some?</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the typesetting industry ...</p>
              <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="recentpost-cont wow fadeIn">
              <h4><a href="#">Hello World !</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the typesetting industry ...</p>
              <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="recentpost-cont wow fadeIn">
              <h4><a href="#">Contrary to popular belief</a></h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the typesetting industry ...</p>
              <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <nav class="pagination-cont">
              <ul class="pagination">
                <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1">Previous</a> </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"> <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a> </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sidebar-item">
          <h4>Recent Posts</h4>
          <form action="#" method="post">
            <input type="text" class="search" placeholder="Search">
          </form>
        </div>
        <div class="sidebar-item">
          <h4>Recent Posts</h4>
          <ul>
            <li><a href="#">Lorem Ipsum is simply</a></li>
            <li><a href="#">Ipsum is simply dummy</a></li>
            <li><a href="#">Simply dummy text of the</a></li>
            <li><a href="#">Dummy text of the printing</a></li>
            <li><a href="#">Printing and typesetting</a></li>
            <li><a href="#">Lorem Ipsum is simply</a></li>
          </ul>
        </div>
        <div class="sidebar-item">
          <h4>Categories</h4>
          <ul>
            <li><a href="#">HTML</a></li>
            <li><a href="#">WordPress</a></li>
            <li><a href="#">Themeforest</a></li>
            <li><a href="#">Creative Market</a></li>
            <li><a href="#">Codeigniter</a></li>
            <li><a href="#">PHP</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}