{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %} Trade Bot {% endblock %}
    {% block content %}

<header class="header-1" id="particles-js">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro-text">
          <h1 class="wow fadeInUp">Buy Intelligent Bot From Mytradebot</h1>
          <p>Get Digital items in an affordable range. We are selling Premium Digital products for Business to Business
            & Business to Clients. If you have any question then please feel free to ask.</p>
          <p><a class="btn btn-lg btn-white wow tada" href="#">View Demo</a></p>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center">Why Choose Us</h2>
      </div>
      <div class="col-md-8">
        <p class="text-center">Lorem ipsutempor incididunt ut laveniam, quis nostrud exercitation ullamco laboris nisi <br/>
          ut aliquip ex ea commodo conseq uat. Duccaecat cupid Cganjam proident, sunt in <br/>
          culpa qui officia deserunt molperspiciatis.</p>
      </div>
      <div class="col-md-8">
        <div class="wcu-list">
          <ul>
            <li class="wow bounceIn">1. Buy Bot </li>
            <li class="wow bounceIn" data-wow-delay=".1s">2. Customize </li>
            <li class="wow bounceIn" data-wow-delay=".2s">3. Earn Money $$$$ </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <p class="text-center">Lorem ipsutempor incididunt ut laveniam, quis nostrud exercitation ullamco laboris nisi <br/>
          ut aliquip ex ea commodo conseq uat. Duccaecat cupid Cganjam proident, sunt in <br/>
          culpa qui officia deserunt molperspiciatis.</p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center">Our Pricing</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="pricing-1 wow fadeInUp">
          <div class="pricing-1-title">
            <h5>STANDARD EDITION</h5>
          </div>
          <div class="pricing-1-body">
            <h2>$89</h2>
            <p>Get 10 strategy to use</p>
            <p>can buy using crypto</p>
            <p>1 Exchange included</p>
            <p>Free Support 24/7</p>
            <p>Lifetime Use</p>
            <p>Poloniex, Bittrex, Binance, Bitfinex</p>
            <p>Linux / Windows / Mac</p>

            <p><a class="btn btn-lg btn-pink" href="#">Purchase</a></p>
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-1 wow fadeInUp">
          <div class="pricing-1-title">
            <h5>PRO EDITION</h5>
          </div>
          <div class="pricing-1-body">
            <h2>$89</h2>
            <p>Get all strategy to use</p>
            <p>can buy using crypto</p>
            <p>2 Exchange included</p>
            <p>Free Support 24/7</p>
            <p>Lifetime Use</p>
            <p>Linux / Windows / Mac</p>
            <p>Poloniex, Bittrex, Binance, Bitfinex</p>
            <p><a class="btn btn-lg btn-pink" href="#">Purchase</a></p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-1 wow fadeInUp">
          <div class="pricing-1-title">
            <h5>ULTIMATE EDITION</h5>
          </div>
          <div class="pricing-1-body">
            <h2>$89</h2>
            <p>Get all strategy to use</p>
            <p>can buy using crypto</p>
            <p>ALL Exchange included and TradingView add-on</p>
            <p>Free Support 24/7</p>
            <p>Lifetime Use</p>
            <p>Linux / Windows / Mac</p>
            <p>Poloniex, Bittrex, Binance, Bitfinex</p>
            <p><a class="btn btn-lg btn-pink" href="#">Purchase</a></p>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="section-padding-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center">Subscribe us</h2>
      </div>
      <div class="col-md-8">
        <div class="subscribe-1">
          <form action="#" method="post">
            <div class="form-group">
              <div class="input-group">
                <form method="post" name="emailsubscribeform" id="emailsubscribeform" class="form-1">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-12"> <i class="icofont icofont-user-male"></i>
                <input name="email" type="text" id="Email" class="form-control form-control-lg" placeholder="Email Address">
                <span class="input-group-addon">
                <input type="submit" class="btn btn-success btn-lg" value="Subscribe" id="submit">
                </span>
              </div>
            </div>
          </form>
                <!--<input type="text" name="newsletter_email" id="newsletter_email" class="form-control form-control-lg" placeholder="Email Address">-->
                <!--<span class="input-group-addon">-->
                <!--<input type="button" onclick="subscribe()" class="btn btn-success btn-lg" value="Subscribe">-->
                <!--</span> </div>-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function subscribe(){
  if ($('#newsletter_email').val()){
  <!--alert('hello');-->
  $.post("/email_subscribe", {'email':$("#newsletter_email").val()}, function(data){
  alert('Hi');
  });
  }
  else{
  alert('please enter email to subscribe');
  }
  }
</script>
{% endblock %}
<!--================================================
                **** JS Files ****
==================================================-->


<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
<!--<script src="{% static 'js/bootstrap-navbar.js' %}"></script>-->
<!--<script src="{% static 'js/wow.min.js' %}"></script>-->
<!--<script src="{% static 'js/numscroller-1.0.js' %}"></script>-->
<!--<script src="{% static 'js/magnific-popup.min.js' %}"></script>-->
<!--<script src="{% static 'js/jquery.isotope.min.js' %}"></script>-->
<!--<script src="{% static 'js/owl.carousel.js' %}"></script>-->
<!--<script src="{% static 'js/main.js' %}"></script>-->
<!--</body>-->
<!--</html>-->
