{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %} Login-SignUp {% endblock %}
    {% block content %}
<header class="header-inner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="intro-text">
                    <h1 class="wow fadeInUp">Login-Signup</h1>
                    <h6>Home / Login-Signup</h6>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="login-signup-form">
                    <form method="post" action="{% url 'login' %}" name="signinform" id="signinform" class="form-2">
                        {% csrf_token %}
                        <div class="alert alert-danger alert-dismissable fade in"
                             style="width: 90%; margin: auto; margin-bottom: 10px; display: none;" id="registerError">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{registerErrorMsg}}
                        </div>
                        {{registerErrorMsg}}
                        <div class="row">

                            <div class="col-lg-12"><i class="icofont icofont-email"></i>
                                <input name="username" type="text" id="username" class="input-style" placeholder="Email">
                            </div>
                            <div class="col-lg-12"><i class="icofont icofont-ui-password"></i>
                                <input name="password" type="password" id="password" class="input-style"
                                       placeholder="Password">
                            </div>
                            <div class="col-lg-12">
                                <input type="submit" class="btn btn-md btn-pink wow tada" id="submit" value="Login">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="login-signup-form">

                    <form method="post" action="{% url 'login-signup' %}" name="signupform" id="signupform"
                          class="form-2">
                        {% csrf_token %}
                        <div class="alert alert-danger alert-dismissable fade in"
                             style="width: 90%; margin: auto; margin-bottom: 10px; display: none;" id="registerError">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{registerErrorMsg}}
                        </div>
                        {{registerErrorMsg}}
                        <div class="row">
                            <div class="col-lg-12"><i class="icofont icofont-user-male"></i>
                                <input name="username" type="text" id="username" class="input-style"
                                       placeholder="Full Name">
                            </div>

                            <div class="col-lg-12"><i class="icofont icofont-email"></i>
                                <input name="email" type="text" id="email" class="input-style" placeholder="Email ID">
                            </div>
                            <div class="col-lg-12"><i class="icofont icofont-ui-password"></i>
                                <input name="password1" type="password" id="password1" class="input-style"
                                       placeholder="Password">
                            </div>
                            <div class="col-lg-12"><i class="icofont icofont-ui-password"></i>
                                <input name="password2" type="password" id="password2" class="input-style"
                                       placeholder="Confirm Password">
                            </div>
                            <div class="col-lg-12">
                                <input type="submit" class="btn btn-md btn-pink wow tada" id="signup" value="Signup">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}