{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %} Product Grid {% endblock %}
    {% block content %}
<header class="header-inner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro-text">
          <h1 class="wow fadeInUp">Product Grid</h1>
          <h6>Home / Our Products / Grid View</h6>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section-padding-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="product-grid wow fadeInUp"> <img class="img-fluid" src="{% static 'images/product-2.png' %}" alt="product-img">
          <div class="product-grid-text">
            <h6><a href="#">Aviva - Multipurpose WP Theme</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
            <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-grid wow fadeInUp"> <img class="img-fluid" src="{% static 'images/product-3.png' %}" alt="product-img">
          <div class="on-sale"><span>On Sale</span></div>
          <div class="product-grid-text">
            <h6><a href="#">Recycle - Multipurpose WP Theme</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
            <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-grid wow fadeInUp"> <img class="img-fluid" src="{% static 'images/product-4.png' %}" alt="product-img">
          <div class="product-grid-text">
            <h6><a href="#">GoLive - Multipurpose WP Theme</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
            <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-grid wow fadeInUp"> <img class="img-fluid" src="{% static 'images/product-2.png' %}" alt="product-img">
          <div class="product-grid-text">
            <h6><a href="#">Aviva - Multipurpose WP Theme</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
            <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-grid wow fadeInUp"> <img class="img-fluid" src="{% static 'images/product-3.png' %}" alt="product-img">
          <div class="on-sale"><span>On Sale</span></div>
          <div class="product-grid-text">
            <h6><a href="#">Recycle - Multipurpose WP Theme</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
            <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-grid wow fadeInUp"> <img class="img-fluid" src="{% static 'images/product-4.png' %}" alt="product-img">
          <div class="product-grid-text">
            <h6><a href="#">GoLive - Multipurpose WP Theme</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
            <p><a class="read-more" href="#">Read More <i class="icofont icofont-long-arrow-right"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}