{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %} Product Details {% endblock %}
    {% block content %}
<header class="header-inner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro-text">
          <h1 class="wow fadeInUp">Product Details</h1>
          <h6>Home / Product Details</h6>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section-padding-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="product-details-image"><img src="{% static 'images/product-details-preview.png' %}" class="img-fluid" alt="product-img"></div>
      </div>
      <div class="col-md-4">
        <div class="product-features">
          <h3>GoLive - Multipurpose WordPress Theme</h3>
          <h6>Price: <span>$49</span></h6>
          <ul>
            <li> One Click Demo Import</li>
            <li> Multipurpose Theme</li>
            <li> Theme Option</li>
            <li> RTL Support</li>
            <li> Child Theme Support</li>
            <li> Cache / Security / Seo Plugins</li>
            <li> Free Support for 6 Months</li>
            <li> Free Updates</li>
          </ul>
          <p><a class="btn btn-md btn-pink wow tada" href="#">Live Preview</a> &nbsp; <a class="btn btn-md btn-green wow tada" href="#">$29 - Purchase</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="product-details-cont text-center">
          
          <h3 class="text-center">Theme Details</h3>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
            of classical Latin literature from 45 BC, making it over 2000 years old. Richard 
            McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of 
            the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going 
            through the cites of the word in classical literature, discovered the undoubtable source. 
            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" 
            (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the 
            theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, 
            "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
          <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those 
            interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero 
            are also reproduced in their exact original form, accompanied by English versions from 
            the 1914 translation by H. Rackham.</p>
        </div>
      </div>
      
    </div>
  </div>
</section>
<section id="video" class="section-padding section-video">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"><a href="https://www.youtube.com/watch?v=k-R6AFn9-ek" class="popup-youtube"><i class="icofont icofont-youtube-play" aria-hidden="true"></i></a></div>
    </div>
  </div>
</section>
<section class="section-padding-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h3 class="section-title text-center">Theme Features</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="services-cont">
          <div class="icon-cont bg-1 wow bounceIn"><i class="icofont icofont-hand-drag1"></i></div>
          <div class="services-text">
            <h5>Instant Buy</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services-cont">
          <div class="icon-cont bg-2 wow bounceIn" data-wow-delay=".1s"><i class="icofont icofont-support"></i></div>
          <div class="services-text">
            <h5>Free Support</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services-cont">
          <div class="icon-cont bg-3 wow bounceIn" data-wow-delay=".2s"><i class="icofont icofont-gift"></i></div>
          <div class="services-text">
            <h5>Free Updates</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services-cont">
          <div class="icon-cont bg-1 wow bounceIn" data-wow-delay=".3s"><i class="icofont icofont-queen-crown"></i></div>
          <div class="services-text">
            <h5>RTL Support</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services-cont">
          <div class="icon-cont bg-2 wow bounceIn" data-wow-delay=".4s"><i class="icofont icofont-magician-hat"></i></div>
          <div class="services-text">
            <h5>Child Theme</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services-cont">
          <div class="icon-cont bg-3 wow bounceIn" data-wow-delay=".5s"><i class="icofont icofont-cur-bitcoin"></i></div>
          <div class="services-text">
            <h5>Affordable Range</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>      
{% endblock %}