{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %} Product List {% endblock %}
    {% block content %}
<header class="header-inner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro-text">
          <h1 class="wow fadeInUp">Product List</h1>
          <h6>Home / Our Products / Grid View</h6>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section-padding-1">
  <div class="container">
    <div class="product-list">
      <div class="row">
        <div class="col-md-6">
          <div class="product-list-img wow fadeInLeft"><img src="{% static 'images/product-list.png' %}" alt="product-list"></div>
        </div>
        <div class="col-md-6">
          <div class="product-list-text">
            <h3>GoLive</h3>
            <h6>WordPress MultiPurpose Theme</h6>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
              an unknown printer took a.</p>
            <p><a class="btn btn-lg btn-pink" href="#">View Details <i class="icofont icofont-long-arrow-right"></i></a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="product-list">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <div class="product-list-img wow fadeInRight"><img src="{% static 'images/product-list.png' %}" alt="product-list"></div>
        </div>
        <div class="col-md-6 order-md-1">
          <div class="product-list-text">
            <h3>GoLive</h3>
            <h6>WordPress MultiPurpose Theme</h6>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
              an unknown printer took a.</p>
            <p><a class="btn btn-lg btn-pink" href="#">View Details <i class="icofont icofont-long-arrow-right"></i></a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="product-list">
      <div class="row">
        <div class="col-md-6">
          <div class="product-list-img wow fadeInLeft"><img src="{% static 'images/product-list.png' %}" alt="product-list"></div>
        </div>
        <div class="col-md-6">
          <div class="product-list-text">
            <h3>GoLive</h3>
            <h6>WordPress MultiPurpose Theme</h6>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
              an unknown printer took a.</p>
            <p><a class="btn btn-lg btn-pink" href="#">View Details <i class="icofont icofont-long-arrow-right"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}